<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>345868259891-your_ios_client_id.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.345868259891-your_ios_client_id</string>
  <key>API_KEY</key>
  <string>YOUR_IOS_API_KEY_HERE</string>
  <key>GCM_SENDER_ID</key>
  <string>345868259891</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.gymcoach.mobile</string>
  <key>PROJECT_ID</key>
  <string>gymcoach-ai-c2e14</string>
  <key>STORAGE_BUCKET</key>
  <string>gymcoach-ai-c2e14.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:345868259891:ios:your_ios_app_id_here</string>
  <key>DATABASE_URL</key>
  <string>https://gymcoach-ai-c2e14-default-rtdb.firebaseio.com</string>
</dict>
</plist>